---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My Awesome blog subtitle</h2>
  <Greeting client:load messages={["Hi 👋", "Hello 👋", "Howdy 👋", "Hey 👋"]} />
</BaseLayout>
